html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    
    background-color: maroon;
}
header{
    display: flex;
    justify-content: center;
    height: 8%;
    width: 100%;
    
    background-color: #ffffff;
}
nav{
    
    display: flex;
    justify-content: space-between;
    
    width: 30%;
    height: 70%;
    border: 2px solid black;
    
}
a{
    background-color: #ffffff;
    text-decoration: none;
    color: black;
    height: 100%;
    font-size: .9em;
}
.image{
    display: flex;
    justify-content: center;
    
    background-color: #ffffff;
}