html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    
    background-color: maroon;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
body{
    display: flex;
    flex-direction: column;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: white;
}

nav >a {
    text-decoration: none;
    color: black;
}
a{
    background-color: #ffffff;
    text-decoration: none;
    color: black;
    height: 50px;
    line-height: 50px;
    font-size: .9em;
}
a:hover{
    background-color: #d1a624;
}
.image{
    display: flex;
    justify-content: center;
    
    background-color: #ffffff;
}